@font-face {
    font-family: inter;
    src: url("Fonts/Inter-Regular.ttf");
}
body {
    font-family: "inter";
}
h1 {
    font-size: 25px;
    margin-left: 141px;
    margin-top: 85px;
}

table{
    border: 1px solid #DADADA;
    margin-left: 141px;
}
thead {
    background-color: #F9F9F9;
    border: 1px solid #DADADA;
    padding-top: 21px;
}

.column-1 {
    width: 72px;
    height: 57px;
    border: 1px solid #DADADA;
}
.column-2 {
    width: 444px;
    border: 1px solid #DADADA;
}
.column-3 {
    width: 276px;
    border: 1px solid #DADADA;
}
.column-4 {
    width: 251px;
    border: 1px solid #DADADA;
}

.id {
    font-weight: 700;
    text-align: center;
    width: 72px;
    height: 57px;
    border: 1px solid #DADADA;
}
.text {
    font-weight: 500;
    border: 1px solid #DADADA;
}

.dates {
    font-weight: 500;
    color: red;
    text-align: center;
    border: 1px solid #DADADA;
}
button {
    width: 115px;
    height: 36px;
    background-color: #FFD43A;
    border: 0px;
}